.loginPage {
  max-width: 1920px;
  min-width: 769px;
  height: 100vh;
  display: flex;
  margin: auto;
}

.loginPage_left {
  height: 100%;
  width: 30%;
  background-color: aliceblue;
}

.loginPage_logoContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage_logo {
  width: 210px;
  height: auto;
}

.loginPage_title {
  text-align: center;
  font-size: 2.4em;
}

.loginPage_leftSlogan {
  display: none;
}

.loginPage_right {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.loginPage_rightSlogan {
  font-size: 2.22em;
  text-align: center;
}

.loginPage_section {
  display: flex;
  justify-content: space-evenly;
}

.loginPage_article {
  width: 28%;
  height: fit-content;
}

.loginPage_articleImage {
  width: 100%;
  height: auto;
}

.loginPage_articleText {
  text-align: center;
  font-size: 0.9em;
}

@media (min-width: 1921px) {
  .loginPage {
    border: 1px solid gray;
  }
}

@media (min-width: 360px) and (max-width: 900px) and (orientation: landscape) {
  .loginPage_logo {
    width: 171px;
  }

  .loginPage_title {
    font-size: 2.1em;
  }

  .loginPage_rightSlogan {
    font-size: 1.9em;
  }
}

@media (min-width: 210px) and (max-width: 768px) and (orientation: portrait) {
  .loginPage {
    max-width: 100%;
    min-width: 100%;
    height: 100vh;
    display: flex;
  }

  .loginPage_left {
    width: 100%;
  }

  .loginPage_leftSlogan {
    display: block;
    margin-top: 6%;
    text-align: center;
  }

  .loginPage_logo {
    width: 240px;
    height: auto;
  }

  .loginPage_right {
    display: none;
  }
}
