.reservas {
  height: fit-content;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
}

.reservas_title {
  padding-inline: 3%;
  margin-block: 1.5rem;
  font-size: 1.2em;
  font-weight: 400;
  color: black;
}

.reservas_title a {
  color: black;
}

.reservas_container {
  margin-inline: 3%;
  width: 94%;
  height: 30vh;
  margin-block: 1.5rem;
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  border-radius: 12px;
}

.reservas_emptyTxt {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  cursor: default;
}

@media (min-width: 360px) and (max-width: 950px) and (max-height: 420px) and (orientation: landscape) {
  .reservas {
    padding-top: 18vh;
  }
}

@media (min-width: 210px) and (max-width: 768px) and (orientation: portrait) {
  .reservas_title {
    font-size: 1em;
  }
  
  .reservas_container {
    height: 33vh;
  }
  
  .reservas_emptyTxt {
    font-size: 0.9em;
  }  
}